<form>
  <section class="row">
    <section class="large-offset-2 large-2 columns">
      <label>
        Name:
        {{input type="text" value=item.name class="form-control" placeholder="Name your conlang" required=true}}
      </label>
    </section>

    <section class="large-4 columns end">
      <label>
        Description:
        {{textarea value=item.description rows=4 placeholder="Any notes you want to make about the language!"}}
      </label>
    </section>
  </section>

{{#if item.id}}

<p>
  {{#each item.phonemes as |phoneme|}}
    {{phoneme.ipa}} ({{phoneme.id}})
  {{/each}}
</p>

<section class="row">
  <h3>Consonants</h3>
  <section class="large-12 columns">
    <table class="phonemes" id="consonants">
      <thead>
        <tr>
          <td></td>
          <th colspan="2">
            {{#zf-tooltip title="both lips"}}Bi<wbr>labial{{/zf-tooltip}}
          </th>
          <th colspan="2">
            {{#zf-tooltip title="lower lip and upper teeth"}}Labio<wbr>dental{{/zf-tooltip}}
          </th>
          <th colspan="2">
            {{#zf-tooltip title="tongue against the upper teeth"}}Den<wbr>tal{{/zf-tooltip}}
          </th>
          <th colspan="2">
            {{#zf-tooltip title="tongue against the alveolar ridge"}}Alve<wbr>olar{{/zf-tooltip}}
          </th>
          <th colspan="2">
            {{#zf-tooltip title="tongue against the back of the alveolar ridge"}}Post<wbr>alveolar{{/zf-tooltip}}
          </th>
          <th colspan="2">
            {{#zf-tooltip title="tip of the tongue curled back between the alveolar ridge and the hard palate"}}Retro<wbr>flex{{/zf-tooltip}}
          </th>
          <th colspan="2">
            {{#zf-tooltip title="body of the tongue against the hard palate"}}Pala<wbr>tal{{/zf-tooltip}}
          </th>
          <th colspan="2">
            {{#zf-tooltip title="back of the tongue against the soft palate"}}Ve<wbr>lar{{/zf-tooltip}}
          </th>
          <th colspan="2">
            {{#zf-tooltip title="back of the tongue against the uvula"}}Uvu<wbr>lar{{/zf-tooltip}}
          </th>
          <th colspan="2">
            {{#zf-tooltip title="made with the pharynx (back of the throat)"}}Phary<wbr>ngeal{{/zf-tooltip}}
          </th>
          <th colspan="2">
            {{#zf-tooltip title="made with the glottis (vocal cords)"}}Glot<wbr>tal{{/zf-tooltip}}
          </th>
        </tr>
      </thead>

       <tbody>
        <tr>
          <th>
            {{#zf-tooltip title="airflow completely stops"}}Plosive{{/zf-tooltip}}
          </th>
          <!-- onclick="ipa('Voiceless_bilabial_plosive'); -->
          <td id="ph-1">p</td>
          <td id="ph-2">b</td>
          <td></td>
          <td></td>
          <td colspan="3" id="ph-3">t</td>
          <td colspan="3" id="ph-4">d</td>
          <td id="ph-5">ʈ</td>
          <td id="ph-6">ɖ</td>
          <td id="ph-7">c</td>
          <td id="ph-8">ɟ</td>
          <td id="ph-9">k</td>
          <td id="ph-10">g</td>
          <td id="ph-11">q</td>
          <td id="ph-12">ɢ</td>
          <td><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td id="ph-13">ʔ</td>
          <td class="impossible"><!--empty --></td>
        </tr>

        <tr>
          <th>
            {{#zf-tooltip title="air flows through the nose"}}Nasal{{/zf-tooltip}}
          </th>
          <td><!--empty --></td>
          <td id="ph-14">m</td>
          <td><!--empty --></td>
          <td id="ph-15">ɱ</td>
          <td colspan="3"><!--empty --></td>
          <td id="ph-16" colspan="3">n</td>
          <td><!--empty --></td>
          <td id="ph-17">ɳ</td>
          <td><!--empty --></td>
          <td id="ph-18">ɲ</td>
          <td><!--empty --></td>
          <td id="ph-19">ŋ</td>
          <td><!--empty --></td>
          <td id="ph-20">ɴ</td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
        </tr>

        <tr>
          <th>
            {{#zf-tooltip title="vibrating"}}Trill{{/zf-tooltip}}
          </th>
          <td><!--empty --></td>
          <td id="ph-21">ʙ</td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td colspan="3"><!--empty --></td>
          <td id="ph-22" colspan="3">r</td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td><!--empty --></td>
          <td id="ph-23">ʀ</td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
        </tr>

        <tr>
          <th>
            {{#zf-tooltip title="quick throwing of lips or tongue"}}Tap/Flap{{/zf-tooltip}}
          </th>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td id="ph-24">ⱱ</td>
          <td colspan="3"><!--empty --></td>
          <td id="ph-25" colspan="3">ɾ</td>
          <td><!--empty --></td>
          <td id="ph-26">ɽ</td>
          <td></td><td></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
        </tr>

        <tr>
          <th>
            {{#zf-tooltip title="air forced through a narrow channel"}}Fricative{{/zf-tooltip}}
          </th>
          <td id="ph-27">ɸ</td>
          <td id="ph-28">β</td>
          <td id="ph-29">f</td>
          <td id="ph-30">v</td>
          <td id="ph-31">θ</td>
          <td id="ph-31">ð</td>
          <td id="ph-33">s</td>
          <td id="ph-34">z</td>
          <td id="ph-35">ʃ</td>
          <td id="ph-36">ʒ</td>
          <td id="ph-37">ʂ</td>
          <td id="ph-38">ʐ</td>
          <td id="ph-39">ç</td>
          <td id="ph-40">ʝ</td>
          <td id="ph-41">x</td>
          <td id="ph-42">ɣ</td>
          <td id="ph-43">χ</td>
          <td id="ph-44">ʁ</td>
          <td id="ph-45">ħ</td>
          <td id="ph-46">ʕ</td>
          <td id="ph-47">h</td>
          <td id="ph-48">ɦ</td>
        </tr>

        <tr>
          <th>
            {{#zf-tooltip title="fricative with airflow around the sides of the tongue"}}Lateral Fricative{{/zf-tooltip}}
          </th>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td id="ph-49" colspan="3">ɬ</td>
          <td id="ph-50" colspan="3">ɮ</td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
        </tr>

        <tr>
          <th>
            {{#zf-tooltip title="articulators approaching each other, with no air turbulence"}}Approximant{{/zf-tooltip}}
          </th>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td id="ph-51">ʋ</td>
          <td colspan="3"><!--empty --></td>
          <td id="ph-52" colspan="3">ɹ</td>
          <td><!--empty --></td>
          <td id="ph-53">ɻ</td>
          <td><!--empty --></td>
          <td id="ph-54">j</td>
          <td><!--empty --></td>
          <td id="ph-55">ɰ</td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
        </tr>

        <tr>
          <th>
            {{#zf-tooltip title="approximant with airflow around the sides of the tongue"}}Lateral Approximant{{/zf-tooltip}}
          </th>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td colspan="3"><!--empty --></td>
          <td id="ph-56" colspan="3">l</td>
          <td><!--empty --></td>
          <td id="ph-57">ɭ</td>
          <td><!--empty --></td>
          <td id="ph-58">ʎ</td>
          <td><!--empty --></td>
          <td id="ph-59">ʟ</td>
          <td><!--empty --></td>
          <td><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
          <td class="impossible"><!--empty --></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="23">
            Voiceless consonants are on the left.
            Voiced consonants are on the right.<br>
            Shaded areas are deemed impossible articulations.
          </td>
        </tr>
      </tfoot>
    </table>
  </section>
</section>

<section class="row">
  <h3>Other Consonants</h3>
  <section class="small-10 large-offset-2 large-8 columns end">
    <table id="other-consonants" class="phonemes">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Desription</th>
          <th>Symbol</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="ph-60">ʍ</td>
          <td>voiceless labial-velar fricative</td>
          <td id="ph-61">w</td>
          <td>voiced labial-velar approximant</td>
        </tr>
        <tr>
          <td id="ph-62">ɥ</td>
          <td>voiced labial-palatal approximant</td>
          <td id="ph-63">ʡ</td>
          <td>epiglottal plosive</td>
        </tr>
        <tr>
          <td id="ph-64">ɕ</td>
          <td>voiceless alveo-palatal fricative</td>
          <td id="ph-65">ʑ</td>
          <td>voiced alveo-palatal fricative</td>
        </tr>
        <tr>
          <td id="ph-66">ɺ</td>
          <td>voiced alveolar flap</td>
          <td id="ph-67">ɧ</td>
          <td>simultaneous ʃ and x</td>
        </tr>
        <tr>
          <td id="ph-68">t͡s</td>
          <td>voiceless alveolar {{#zf-tooltip title="begins as a stop and releases as a fricative"}}affricate{{/zf-tooltip}}</td>
          <td id="ph-69">d͡z</td>
          <td>voiced alveolar affricate</td>
        </tr>
        <tr>
          <td id="ph-70">t͡ʃ</td>
          <td>voiceless alveolo-palatal affricate</td>
          <td id="ph-71">d͡ʒ</td>
          <td>voiced alveolo-palatal affricate</td>
        </tr>
        <tr>
          <td id="ph-72">t͡ɕ</td>
          <td>voiceless palato-alveolar affricate</td>
          <td id="ph-73">d͡ʑ</td>
          <td>voiced palato-alveolar affricate</td>
        </tr>
        <tr>
          <td id="ph-74">ʈ͡ʂ</td>
          <td>voiceless retroflex affricate</td>
          <td id="ph-75">ɖ͡ʐ</td>
          <td>voiced retroflex affricate</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>

<section class="row">
  <h3>Vowels</h3>
  <section class="small-4 large-offset-3 large-5 columns end">

    <table id="vowels" class="phonemes">
      <thead>
        <tr>
          <td></td>
          <th colspan="3">Front</th>
          <th colspan="3">Near Front</th>
          <th colspan="3">Central</th>
          <th colspan="3">Near Back</th>
          <th colspan="3">Back</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Close</th>
          <td id="ph-76">i</td>
          <td></td>
          <td id="ph-77">y</td>
          <td></td>
          <td></td>
          <td></td>
          <td id="ph-78">ɨ</td>
          <td></td>
          <td id="ph-79">ʉ</td>
          <td></td>
          <td></td>
          <td></td>
          <td id="ph-80">ɯ</td>
          <td></td>
          <td id="ph-81">u</td>
        </tr>

        <tr>
          <th>Near-Close</th>
          <td></td>
          <td></td>
          <td></td>
          <td id="ph-82">ɪ</td>
          <td id="ph-83">ʏ</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td id="ph-84">ʊ</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th>Close-mid</th>
          <td></td>
          <td></td>
          <td id="ph-85">e</td>
          <td></td>
          <td id="ph-86">ø</td>
          <td></td>
          <td></td>
          <td id="ph-87">ɘ</td>
          <td></td>
          <td id="ph-88">ɵ</td>
          <td></td>
          <td></td>
          <td id="ph-89">ɤ</td>
          <td></td>
          <td id="ph-90">o</td>
        </tr>

        <tr>
          <th>Mid</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td id="ph-91">ə</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th>Open-mid</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td id="ph-92">ɛ</td>
          <td></td>
          <td id="ph-93">œ</td>
          <td></td>
          <td id="ph-94">ɜ</td>
          <td></td>
          <td id="ph-95">ɞ</td>
          <td></td>
          <td id="ph-96">ʌ</td>
          <td></td>
          <td id="ph-97">ɔ</td>
        </tr>

        <tr>
          <th>Near-Open</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td id="ph-98">æ</td>
          <td></td>
          <td></td>
          <td></td>
          <td id="ph-99">ɐ</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Open</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td id="ph-100">a</td>
          <td></td>
          <td id="ph-101">ɶ</td>
          <td></td>
          <td></td>
          <td></td>
          <td id="ph-102">ɑ</td>
          <td></td>
          <td id="ph-103">ɒ</td>
        </tr>

      </tbody>
    </table>
  </section>
</section>
{{/if}}

  <div class="row">
    <div class="large-offset-5 large-4 columns end">
      <button type="submit" disabled={{unless item.isValid true}} class="button" {{action 'buttonClicked' item}}>{{buttonLabel}}</button>
    </div>
  </div>
</form>
