<strong>NEW.HBS</strong>
<form>
  <span class="small-3 large-3 columns">
    <label>
      Conlang Word:
        {{input type="text" value=model.form class="form-control" placeholder="new word" required=true}}
    </label>
  </span>
  <span class="small-3 large-3 columns">
    <label>
      Translation:
        {{input type="text" value=model.translation placeholder="translation" class="form-control"}}
    </label>
  </span>
  <span class="small-2 large-2 columns end">
    <button type="submit" disabled={{unless model.wordIsValid true}} class="small button" {{action 'saveWord' model}}>Submit</button>
  </span>
</form>

{{outlet}}
