<section class="row collapse">
  <form>
    <span class="small-3 large-3 columns">
      <label for="model.form">
        Word:
      </label>
      {{input type="text" value=model.form placeholder="new word" required=true}}
    </span>
    <span class="small-3 large-3 columns">
      <label for="model.translation">
        Translation:
      </label>
      {{input type="text" value=model.translation placeholder="translation" required=true}}
    </span>
    <span class="small-3 large-3 columns verticalcenter end">
      <button
        type="submit"
        disabled={{unless model.wordIsValid true}}
        class="small button"
        {{action 'saveWord' model}}>add word</button>
    </span>
  </form>
</section>

{{outlet}}
