<h2>{{model.name}}</h2>

<section class="row">
  <p class="small-12 large-12 columns">
    To add a new word to {{model.name}}, enter the word and its translation in the text fields below. To edit a word, click
    on the word.
  </p>
</section>

  {{outlet}}

{{#if model.words}}
<section class="row wordlist">
  <div class="row">
    <h4 class="small-5 large-3 columns">Word</h4>
    <h4 class="small-5 large-3 columns end">Translation</h4>
  </div>
  {{#each model.nonDeletedWords as |word|}}
    <section class="row">
      <span class="phonemes small-5 large-3 columns">
        {{#link-to 'language.words.edit' word}}{{word.form}}{{/link-to}}
      </span>
      <span class="small-5 large-3 columns end">
        {{word.translation}}
        {{#if word.id}}<sup><button {{action 'deleteWord' word}}>delete</button></sup>{{/if}}
      </span>
    </section>
  {{/each}}
</section>
{{/if}}

<section class="row">
  <section class="button-group small-offset-1 small-9 large-offset-4 large-7 columns">
    {{#link-to 'language' model.id class="button"}}{{model.name}} Home{{/link-to}}
    {{#link-to 'languages.index' class="button"}}All Languages{{/link-to}}
  </section>
</section>
