<strong>LANGUAGE.HBS</strong>

<h2>{{model.name}}</h2>
<p>
  <strong>Description:</strong>
  {{#if model.description}}
     {{model.description}}
  {{else}}
    None
  {{/if}}
</p>

<p>
  <strong>Consonants:</strong>
  {{#if model.consonants}}
  <span class="phonemes">
    {{#each model.consonants as |consonant|}}
      {{consonant.ipa}}
  {{/each}}
  </span>
  {{else}}
    None yet
  {{/if}}
</p>

<p>
  <strong>Vowels:</strong>
  {{#if model.vowels}}
  <span class="phonemes">
    {{#each model.vowels as |vowel|}}
      {{vowel.ipa}}
    {{/each}}
  </span>
  {{else}}
    None yet
  {{/if}}
</p>

<section class="row">
  <section class="button-group large-offset-5 large-7 columns">
    {{#link-to 'languages.edit' model.id class="warning button"}}Edit{{/link-to}}
    {{#link-to 'languages.index' class="button"}}List All Languages{{/link-to}}
  </section>
</section>
